body{
    background-color: var(--bcg-color);
}
.container{
    width: var(--cont-w);
    height: var(--cont-h);
    display: var(--cont-disp);
    margin-top: var(--cont-marg);
    flex-wrap: var(--cont-flexwrap);
    justify-content: var(--cont-justificont);
}
.size{
    height: var(--size-h);
    width: var(--size-w);
    margin: var(--size-margin);
    min-width: var(--size-minwidth);
    max-width: var(--size-maxwidth);
}
.purple{
    background-color: var(--purple-bgc);
    flex: var(--flex);
}
.lightblue{
    background-color: var(--lightblue-bgc);
    flex: var(--flex);
}
.aqua{
    background-color: var(--aqua-bgc);
    flex: var(--flex);
}
.darkgreen{
    background-color: var(--darkgreen-bgc);
    flex: var(--flex);
}
.lightpink{
    background-color: var(--lightpink-bgc);
    flex: var(--flex);
}
.beige{
    background-color: var(--beige-bgc);
    flex: var(--flex);
}
.pink{
    background-color: var(--pink-bgc);
    flex: var(--flex);
}
.orange{
    background-color: var(--orange-bgc);
    flex: var(--flex);
}